# ignore cmake generated directories and files
CMakeFiles/
cmake_install.cmake
/CMakeCache.txt
/Makefile

# ignore the generated libraries
*.so
# 
#

#ignore
main/generic_cpu/test*/options_builder.cpp
main/generic_cpu/test*/options_builder.h
main/generic_cpu/test*/program_options_base.cpp
main/generic_cpu/test*/program_options_base.h

